<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>电子券详情</title>
	<script src = "js/rem.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/juaninfo.css">
</head>
<body>
	<div class="container">
		<div class="info">
			<div class="banner">
				<img src="images/banner1.png" alt="">
			</div>
			<div class="name">
				<h4>电子券名称</h4>
				<p>这是店铺名称</p>
				<div class="buy">
					<span class="price"><span>200</span>元</span>
					<span class="num">已售出13份</span>
				</div>

			</div>
			<div class="con-way">
				<div class="loc"><i></i>北京市海淀区中关村海龙商贸城5层20号</div>
				<div class="tel"></div>
			</div>
		</div>
		<div class="describe">
			<h6>电子券描述</h6>
			<ul>
				<li>这里介绍这个电子券</li>
				<li>这里介绍这个电子券</li>
				<li>这里介绍这个电子券</li>
			</ul>
		</div>
		<div class="notes">
			<h6>购买须知</h6>
			<div class="term">
				<div class="title">有效期</div>
				<ul>
					<li>购买后30天有效</li>
				</ul>
			</div>
			<div class="import">
				<div class="title">购买须知</div>
				<ul>
					<li>不与其他优惠同享</li>
					<li>无法兑换成现金或在购买商品时找零</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer red">立即购买</div>
</body>
</html>