<extend name="Public/header" />
<block name="main">
  <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">管理中心<b>></b><strong>设置图片</strong> </div>   
<div class="mainBox imgModule">
    <h3>店铺图片</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
    <tr>
       <th>编辑图片</th>
       <th>图片列表</th>
     </tr>
     <tr>
      <td width="350" valign="top">
       <form action="<?php echo U('Back/Index/uploadimg'); ?>" method="post" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">
         <tr>
          <td><b>图片名称</b>
<input type="text" name="name" value="{$data['name']}" size="20" class="inpMain" />
          </td>
         </tr>
         <tr>
          <td><b>选择图片</b>
           <input type="file" name="img" class="inpFlie" /><a href="http://www.weiqing.com/data/slide/20130514acunau.jpg" target="_blank"><img src="__IMG__/icon_yes.png"></a>          </td>
         </tr>
         
         <tr>
          <td>
         <a href="show.html" class="btnGray">取消</a>
           <input type="hidden" name="id" value="{$data['id']}">
           <input name="submit" class="btn" type="submit" value="提交" />
          </td>
         </tr>
        </table>
       </form>
      </td>
      <td valign="top">
       <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">

        <tr>
         <td width="100">图片名称</td>
         <td></td>
         <td width="80" align="center">操作</td>
        </tr>
         <?php  foreach($list as $val){  ?>
                <tr class="active">
         <td><a href="#" target="_blank"><img src="/{$val['img']}" width="100" /></a></td>
         <td>{$val['name']}</td>
         <td align="center"><a href="<?=U('back/index/editimg',array('id'=>$val['id']));?>">编辑</a> | <a href="<?=U('back/index/delimg',array('id'=>$val['id']));?>">删除</a></td>
        </tr>
        <?php  } ?>
               </table>
      </td>
     </tr>
    </table>
   </div>
 </div>

</block>