<extend name="Public/all" />
<block name="main">
      <script charset="utf-8" src="__JS__/editor/ueditor.config.js"></script>
      <script charset="utf-8" src="__JS__/editor/ueditor.all.js"></script>

<div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">管理中心<b>></b><strong>添加商品</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="product.html" class="actionBtn">商品列表</a>添加商品</h3>
    <form action="<?=U('back/index/goodsedit');?>" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="90" align="right">商品名称</td>
       <td>
        <input type="text" name="name" value="{$data['name']}" size="80" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">选择店铺</td>
       <td>
        <select name="sid">
        <option value="0">请选择</option>

        <?php foreach ($shop as $key => $val) { ?>
            <option value="{$val['id']}" <?php if($val['id'] == $data['sid']){?> selected  <?php } ?> >{$val['shopname']}</option>
        <?php } ?>                           
        </select>
       </td>
      </tr>
      <tr>
       <td align="right">商品价格</td>
       <td>
        <input type="text" name="price" value="{$data['price']}" size="40" class="inpMain" onkeyup="value=value.replace(/[^\d]/g,'') "/>
       </td>
      </tr>
      <tr>
       <td align="right" valign="top">商品数量</td>
       <td>
         <input type="text" name="num" value="{$data['num']}" size="40" class="inpMain" onkeyup="value=value.replace(/[^\d]/g,'') "/>
       </td>
       
      </tr>
            <tr>
       <td align="right" valign="top">店铺地址</td>
       <td>
          <input type="text" name="address" value="{$data['address']}" size="40" class="inpMain" />
       </td>
      
      </tr>
            <tr>
       <td align="right" valign="top">店铺电话</td>
       <td>
         <input type="text" name="phone" value="{$data['phone']}" size="11" class="inpMain" onkeyup="value=value.replace(/[^\d]/g,'') "/>
       </td>
       
      </tr>
      <tr>
       <td align="right" valign="top">商户分销提成</td>
       <td>
         <input type="text" name="merchart_reward" value="{$data['merchart_reward']}" size="40" class="inpMain" onkeyup="value=value.replace(/[^\d]/g,'') "/>
       </td>
      </tr>
      <tr>
       <td align="right" valign="top">员工分销提成</td>
       <td>
         <input type="text" name="staff_reward" value="{$data['staff_reward']}" size="40" class="inpMain" onkeyup="value=value.replace(/[^\d]/g,'') "/>
       </td>
      </tr>
      <tr>
       <td align="right">上传商品图片</td>
       <td>
        <input type="file" name="img" size="38" class="inpFlie" value="{$data['img']}" />
        
      </tr>
      <tr>
       <td align="right">上传门店图片</td>
       <td>
        <input type="file" name="shop_img" size="38" class="inpFlie" value="{$data['shop_img']}" />
        
      </tr>
      <tr>
       <td align="right">商品介绍</td>
       <td>

       <textarea id="description" name="description" style="width:780px;height:400px;" class="textArea">{$data['description']}</textarea>
      <!--  <script id="description" name="description" type="text/plain">
       {$data['description']}
    </script> -->

       </td>
        </tr>

        <tr>
       <td align="right">商品须知</td>
       <td>
       <textarea id="goodnotice" name="goodnotice" style="width:780px;height:400px;" class="textArea">{$data['goodnotice']}</textarea>
      <!--  <script id="goodnotice" name="goodnotice" type="text/plain">
          {$data['goodnotice']}
        </script> -->
       </td>
      </tr>
        
      <tr>
       <td></td>
       <td>
        <input type="hidden" name ="id" value="{$data['id']}">
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
           </div>
 </div>

<!--  <script type="text/javascript">
        var ue = UE.getEditor('description');
        var ue = UE.getEditor('goodnotice');
    </script> -->
 </block>