
<extend name="Public/header" />
<block name="main">
<style>
  .shouru,.zhichu,.yue{
    display: block;
    width: 200px;
    height: 100px;
    margin:20px;
    background-color: #000;
    color: #fff;
    float: left;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
  }
  .shouru{
    background-color: #13a3ff;
  }
  .zhichu{
    background-color: #fd433d;
  }
  .yue{
    background-color: #28B779;
  }
</style>

<body>
<div id="dcWrap"> 
<!-- dcHead 结束 --> 

 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere">管理中心<b>></b><strong>财务管理</strong> </div>  
<div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
     <h3>
     <!-- <a href="" class="actionBtn add">立即提现</a> -->
     财务管理
     </h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <a class="shouru" href="shouru.html">总收入<span>{$sr}</span></a>
    <a class="zhichu" href="zhichu.html">支出<span>{$zc}</span></a>
   <!--  <a class="yue">余额<span>2674674</span></a> -->
      </tr>
     
          </table>
    
   
    
  </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   <!-- 版权所有 © 2017-2018 北京乐兔电子商务有限公司，并保留所有权利。 -->
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>


</body>
</block>