<extend name="Public/header" />
<block name="main">
<div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">管理中心<b>></b><strong>订单管理</strong><b>></b><strong>分销详情</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>分销详情</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="120" align="left">微信昵称</th>
        <th align="left">支付金额</th>
        <th align="left">支付时间</th>
       
        
     </tr>
     <?php  foreach($list as $val){  ?>
            <tr>
        <td align="left">{$val['nickname']}</td>
        <td>{$val['pay_money']}</td>
        <td><?php echo (date("y/m/d H:i:s",$val['pay_time'])); ?></td>
     </tr>
     <?php } ?>
           
          </table>
           </div>
 </div>
</block>