<extend name="Public/header" />
<block name="main">
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">管理中心<b>></b><strong>添加店铺</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="product_category.html" class="actionBtn">店铺列表</a>添加店铺</h3>
    <form action="<?php echo U('Back/Index/shopedit'); ?>" method="post" id="form">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">店铺名称</td>
       <td>
        <input type="text" name="shopname" value="<?php echo $data['shopname']; ?>" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">手机号/账号</td>
       <td>
        <input type="text" name="phone" id="phone" value="<?php echo $data['phone']; ?>" size="40" class="inpMain" />
       </td>
      </tr>
      
      <tr>
       <td align="right">密码</td>
       <td>
        <input type="password" name="pwd" id="passwords" value="<?php echo $data['pwd']; ?>" size="40" class="inpMain" />
       </td>
      </tr>
      
      <tr>
       <td align="right">管理员</td>
       <td>
        <input type="text" name="name" value="<?php echo $data['name']; ?>" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>">
        <input name="submit" class="btn" id="button" type="button" value="提交" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <script type="text/javascript">
 $("#button").bind('click',function(){
      
    var phone = $('#phone').val();
    if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone))){ 

        alert("手机号码有误，请重填");  
        return false; 
    } 
      //密码
      var password = $('#passwords').val();
      if (password.length<6) {
          alert('密码格式错误,请输入六位（包含）以上字符');
          return;
      };

      var data = $('form').serialize();
        $.ajax({
            url: "{:U('back/index/shopedit')}",
            data:data,
            type:'post',       
            dataType: "json",
            async: true,       
            success: function(date) {
                if(date.status){
                  location.href=date.url; 
                }else{
                    alert('失败')
                }
            }
        });
       
    })
 </script>
 </block>